.button {
	font-weight: bold;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	color: #000;
	border: none;
	font-size: 14px;
	line-height: 19;
	cursor: pointer;
	width: 100%;
	height: 100%;
	padding: 0 1.25rem;
}

.button span {
	text-align: center;
	width: 100%;
}

.button__icon {
	font-size: 20px;
	color: #fff;
}

.blue,
.black,
.green {
	color: #fff;
}

.blue {
	background-color: #1c69d4;
}
.black {
	background-color: #000;
}
.green {
	background-color: #25d366;
}

.blue:hover {
	background-color: #0351be;
}
.black:hover {
	background-color: #575757;
}
.green:hover {
	background-color: #35aa61;
}
