@font-face {
	font-family: [Bmw];
	src: url(../assets/fonts/BMWTypeNext-Light.ttf);
}

body {
	font-family: Bmw !important;
}

.container {
	margin: 0 auto;
	width: 70%;
}
@media screen and (max-width: 768px) {
	.container {
		width: 100%;
	}
}
