.slider {
	align-items: center;
	background-color: #fff;
	border-top: 1px solid #bbbbbb;
	box-shadow: 0 3px 6px #00000029;
	display: flex;
	height: 385px;
	justify-content: center;
	left: 0;
	position: absolute;
	width: 100%;
	z-index: 70;
}
.slider i {
	color: #666666;
	cursor: pointer;
}

.slider__container {
	align-items: center;
	display: flex;
	width: 70%;
	overflow: hidden;
}

.slider__list-cars {
	display: flex;
	flex-shrink: 0;
	justify-content: space-around;
	transition: 0.8s;
}

.slider__item-card {
	display: flex;
	height: 363px;
	justify-content: center;
	margin-bottom: 30px;
	width: calc(70vw / 4);
}
