.sticky-footer {
	align-items: center;
	background-color: #fff;
	bottom: 0;
	box-shadow: 0px 3px 6px #00000029;
	display: flex;
	height: 50px;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	z-index: 60;
}
.whatsapp-logo {
	align-items: center;
	background-color: #25d366;
	border-radius: 50%;
	color: #fff;
	cursor: pointer;
	display: flex;
	font-size: 2.5rem;
	height: 80px;
	justify-content: center;
	margin-top: -75px;
	margin-left: 15px;
	width: 80px;
}

.phone-number {
	color: #666666;
	margin-right: 15px;
}
@media screen and (max-width: 768px) {
	.whatsapp-logo {
		height: 60px;
		width: 60px;
	}
	.sticky-footer .phone-number {
		display: none;
	}
}
