.footer {
	background-color: #e6e6e6;
	height: 250px;
	width: 100%;
	margin-bottom: 50px;
}

.footer__text {
	border-bottom: 1px solid #bbbbbb;
	padding: 40px 0;
}

.footer__text p {
	text-align: center;
}

.footer__copyright {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 40px 0;
}

.copyright__bmw-logo {
	width: 50px;
}

.copyright__by {
	align-items: center;
	display: flex;
	justify-content: space-between;
}
.copyright__by span {
	margin-right: 10px;
}
