.footer {
	background-color: #e6e6e6;
	height: 250px;
	width: 100%;
	margin-bottom: 50px;
	color: #666666;
}

.footer__text {
	border-bottom: 1px solid #bbbbbb;
	padding: 40px 0;
}

.footer__text p {
	text-align: center;
}

.footer__copyright {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 40px 0;
}

.copyright__bmw-logo {
	width: 50px;
}

.copyright__by {
	align-items: center;
	display: flex;
	justify-content: space-between;
}
.copyright__by span {
	margin-right: 10px;
}

@media screen and (max-width: 768px) {
	.footer__text p {
		font-size: 10px;
	}
	.footer__copyright {
		font-size: 10px;
		flex-direction: column;
	}
	.copyright__bmw-logo {
		display: none;
	}
	.copyright__by {
		margin-block: 30px;
	}
	.copyright__by {
		margin-block: 30px;
	}
}
