.list-cars__container {
	width: 100%;
}
.list-cars__container h1 {
	text-align: center;
	font-size: 40px;
	color: #262626;
	text-transform: uppercase;
	font-weight: 300;
	margin-bottom: 60px;
}
.list-cars {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.list-cars__item-card {
	display: flex;
	justify-content: center;
	width: 23%;
	height: 363px;

	margin-bottom: 30px;
}
