.list-cars__container {
	width: 100%;
}
.list-cars__container h1 {
	color: #262626;
	font-size: 40px;
	font-weight: 300;
	margin-bottom: 3.75rem;
	text-align: center;
	text-transform: uppercase;
}
.list-cars {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.list-cars__item-card {
	display: flex;
	height: 363px;
	justify-content: center;
	margin-bottom: 30px;
	width: 23%;
}
